.form {
  display: flex;
  flex-direction: column;
  width: 300px;

  input {
    padding: 0 10px;
    height: 30px;
    margin-bottom: 10px;
    &::placeholder {
      color: white;
    }
  }

  button {
    background: white;
    height: 30px;
    border-radius: 5px;
  }

  .error_message {
    margin-bottom: 10px;
  }
}
